<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="ShowTextMessage" value="true"/>
    <add key="TextMessageOnWarDeclared" value="WorkshopSaver: Saved {0} workshop(s)!"/>

    <!-- {0} is replaced with number of workshops you own that were impacted by war declartion
    that is the only variable currently (no {1}, {2} etc)
    -->
  </appSettings>
</configuration>